:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#countdown{
  position: relative;
  margin: auto;
  margin-top: 50px;
  height: 40px;
  width: 40px;
  text-align: center;
}
#countdown-number{
  color: white;
  display: inline-block;
  line-height: 40px;
}

svg{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle{
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 3px;
  stroke: gray;
  fill: none;
  animation: countdown 60s linear infinite forwards;
}

@keyframes countdown {
  from{
    stroke-dashoffset: 0px;
  }
  to{
    stroke-dashoffset: 113px;
  }
}